<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("OverDOcs", "Index", "Home")</li>
                    <li>@Html.ActionLink("Public Docs", "DisplayPublicDocs", "Files")</li>
                    <li>@Html.ActionLink("User Docs", "DisplayUserDocs", "Files")</li>
                    <li>@Html.ActionLink("Privately Shared Docs", "DisplayPrivateFilesSharedWithUser", "Files")</li>
                    <li>@Html.ActionLink("Return Docs", "DisplayUserUploadDocs", "Files")</li>
                    <li>@Html.ActionLink("Notifications", "DisplayUserNotifications", "Notifications")</li>
                    <li>@Html.ActionLink("Help", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - WebDocs Complied By Ricco Hammond.</p>
        </footer>
    </div>


    @using (Html.BeginForm("DownLoadSelectedFile", "Files", FormMethod.Post))
    {
        <input type="hidden" id="FileID" name="FileID" />
        <input type="hidden" id="UserIDOfPersonThatDownloadedTheFile" name="UserIDOfPersonThatDownloadedTheFile" />
        <input type="submit" id="btnDownload" value="Download" style="display:none" />
    }

    @using (Html.BeginForm("DownLoadSelectedHistoricalFile", "Files", FormMethod.Post))
    {
        <input type="hidden" id="HistoryFileID" name="FileID" />
        <input type="hidden" id="HistoryUserIDOfPersonThatDownloadedTheFile" name="UserIDOfPersonThatDownloadedTheFile" />
        <input type="submit" id="btnDownloadHistorical" value="Download" style="display:none" />
    }

    @using (Html.BeginForm("DownLoadSelectedHistoricalFile", "Files", FormMethod.Post))
    {
        <input type="hidden" id="NotificationFileID" name="FileID" />
        <input type="hidden" id="notificationUserIDOfPersonThatDownloadedTheFile" name="UserIDOfPersonThatDownloadedTheFile" />
        <input type="submit" id="btnSendNotification" value="Download" style="display:none" />
    }

    @Html.Partial("_DownloadHistoricalFileDialog")
    @Html.Partial("_DownloadFileDialog")
    @Html.Partial("_UploadNewUpdateDialog")
    @Html.Partial("_UserFileUpload")


    @Html.Partial("_SuccessDialog")
    @Html.Partial("_FailureDialog")



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CustromAppScripts")


    <script>
            window.rootUrl = '@Url.Content("~/")';
    </script>


    @RenderSection("scripts", required: false)



</body>
</html>
